<div class="mx-auto min-vh-100 h-100" style="background-color: #D9D9D9;">
    <div class="text-center pt-3">
        <div class="bg-dark m-3 p-3" >
            <a href="admin" class="nav-link text-light">Dashboard</a>
        </div>
        <div class="bg-dark mb-1 m-xl-3 p-3">
            <a href="admin/users" class="nav-link text-light">Users</a>
        </div>
        <div class="bg-dark m-xl-3 p-3">
            <a href="admin/posts" class="nav-link text-light">Posts</a>
        </div>
    </div>
</div>
