<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">Sample Website</a>
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Admin Dashboard
                    </a>
                    <ul class="dropdown-menu bg-dark border border-1">
                        <li><a class="dropdown-item" href="/userAccounts">User Management</a></li>
                        <li><a class="dropdown-item" href="/posts">Post Management</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="d-flex">
            <a class="nav-link" href="/login">Sign In</a>
        </div>
    </div>
</nav>