<div class="container height-100">
    <div class="container">
        <h1>Log In as Admin</h1>
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="email" class="form-control" id="username" aria-describedby="emailHelp"
                    placeholder="Enter username">
            </div>
            <br>
            <div class="form-group">
                <label for="passWord">Password</label>
                <input type="password" class="form-control" id="passWord" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>