<div class="container height-100">
    <h1>Sign In!</h1>
    <p>Log in with your account now!</p>
    <div class="grid-container border border-0">
        <div>
            <form>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="email" class="form-control" id="username" aria-describedby="emailHelp"
                        placeholder="Enter username">
                </div>
                <br>
                <div class="form-group">
                    <label for="passWord">Password</label>
                    <input type="password" class="form-control" id="passWord" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <p>No account yet? Sign up <a href="/register">here</a>.</p>
        </div>
        <div></div>
    </div>
</div>