<div class="">
    <h1>Admin Dashboard</h1>
    <p>Welcome to the Admin Dashboard! Here you can view and modify the data about users and posts.</p>
</div>
<hr>
<div class="">
    <h2>User Accounts Management</h2>
    <p>This page shows the list of registered users in this website.</p>
    <p>Go to <a href="admin/users">Users Management</a>.</p>
</div>
<hr>
<div class="">
    <h2>Posts Management</h2>
    <p>This page shows the list of registered users in this website.</p>
    <p>Go to <a href="admin/posts">Posts Management</a>.</p>
</div>