<div class="container">
    <h1>User Management</h1>
    <p>This is the User Management page. Here is the list of registered users in this site.</p>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Account Number</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Choose</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">A001</th>
            <td>yacjana</td>
            <td>yacjana123@yahoo.com</td>
            <td>1234</td>
            <td>
                <button type="button" class="btn btn-primary m-auto">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
          <tr>
            <th scope="row">A002</th>
            <td>yacja</td>
            <td>yacja123@yahoo.com</td>
            <td>1234</td>
            <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>