<div class="container">
    <h1>Post Management</h1>
    <p>This is the Post Management page. Here is the list of posts the users published in this site.</p>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Post Number</th>
            <th scope="col">Account Number</th>
            <th scope="col">Content</th>
            <th scope="col">Choose</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">P001</th>
            <td>A001</td>
            <td>I like it here!</td>
            <td>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
          <tr>
            <th scope="row">P001</th>
            <td>A001</td>
            <td>I like it here!</td>
            <td>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>