img {
    max-height: auto;
    max-width: 40%;
    margin: auto;
}

.abtImg {
    max-width: 80%;
    max-height: auto;
}

.divBody {
    background-image: url('https://i.pinimg.com/originals/ed/ab/86/edab8691dc3c6288e3bdf05f9fcf8616.jpg');
    background-repeat: no-repeat;
    background-size: 150%;
}
.divPost {
    background-color: rgba(255, 255, 255, 0.8);
}